In [1]:
import pandas as pd

import numpy as np
from pymcdm.methods import TOPSIS
from pymcdm.helpers import rrankdata

NI = RISCO (BAIXO, MEDIO, ALTO)
ENGENHARIA = IMPORTANCIA(IRRELEVANTE,BAIXA, MEDIA, ALTA, MUITO ALTA)
INFRA = (GF, BIOSITE, INDOOR, SLS, RT)
DETENTOR = (ATC, PROPRIO, QMC, OI)


import numpy as np
from pymcdm.methods import TOPSIS
from pymcdm.helpers import rrankdata

# Define decision matrix (2 criteria, 4 alternative)
alts = np.array([
    [4, 4],
    [1, 5],
    [3, 2],
    [4, 2]
    ], dtype='float')

# Define weights and types
weights = np.array([0.5, 0.5])
types = np.array([1, -1])

# Create object of the method
topsis = TOPSIS()

# Determine preferences and ranking for alternatives
pref = topsis(alts, weights, types)
ranking = rrankdata(pref)

for r, p in zip(ranking, pref):
    print(r, p)

In [2]:
df = pd.read_excel('Priorização_Q2_NI.xlsx')

In [3]:
df['INFRA'].value_counts()

GF         9
RT         5
BIOSITE    3
INDOOR     2
SLS        1
Name: INFRA, dtype: int64

In [4]:
df.replace({'ALTO': 1,
            'MEDIO': 0,
            'BAIXO': -1,
            'GF': 0,
            'BIOSITE': 1,
            'SLS': 2,
            'RT': 3,
            'INDOOR': 4,
            'ATC':2,
            'PROPRIO':0,
            'QMC':1,
            'OI':3}, inplace = True)

In [5]:
weights = np.array([0.25, 0.25, 0.2,0.2,0.1]) # SOMA 1
types = np.array([-1, -1, -1, -1, -1]) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df.iloc[:,1:]) # tirando a coluna com as OCs

In [6]:
# Create object of the method
topsis = TOPSIS()

In [7]:
# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_ni = rrankdata(pref)

for r, p in zip(ranking_ni, pref):
    print(r, p)

18.0 0.45918937725478065
7.0 0.6746002275221005
12.5 0.5731141646452811
15.5 0.5649053720830395
20.0 0.33513165435811354
14.0 0.5691515957466755
19.0 0.42688583535471886
15.5 0.5649053720830395
12.5 0.5731141646452811
1.0 0.8719577027892426
17.0 0.4960419683480545
9.0 0.6284001342820639
9.0 0.6284001342820639
9.0 0.6284001342820639
2.0 0.7424517017259081
11.0 0.5951106265099992
6.0 0.6900912091098566
5.0 0.7129814818383977
3.5 0.737999125359643
3.5 0.737999125359643

In [8]:
df['Ranking'] = ranking_ni

In [9]:
df

    ORDEM COMPLEXA  RISCO TX  RFW  PO ACESSO  INFRA  DETENTOR  Ranking
0           604865         1    0          0      0         2     18.0
1           619146        -1    0          0      0         2      7.0
2           633406         0    0          0      0         2     12.5
3           635945         0    0          0      1         0     15.5
4           635947         1    0          0      3         2     20.0
5           666351        -1    0          0      3         2     14.0
6           668651         0    0          0      4         1     19.0
7           740035         0    0          0      1         0     15.5
8           744766         0    0          0      0         2     12.5
9           692086        -1   -1         -1      0         2      1.0
10          691961        -1    1          1      0         2     17.0
11          692533        -1    0         -1      3         2      9.0
12          693741        -1    0         -1      3         2      9.0
13          696492        -1    0         -1      3         2      9.0
14          696493        -1    0         -1      1         0      2.0
15          696647        -1    0         -1      4         1     11.0
16          696650        -1    0         -1      2         1      6.0
17          696795        -1    0         -1      0         3      5.0
18          696797        -1    0         -1      0         2      3.5
19          696802        -1    0         -1      0         2      3.5

# Engenharia

In [12]:
df_eng = pd.read_excel('Priorização_Q2_Engenharia.xlsx')

In [13]:
df_eng.head()

,ORDEM COMPLEXA,COMERCIAL,CORPORATIVO,DEMANDA SAZONAL,INSTITUCIONAL,OBRIGAÇÃO,ACORDOS,EFICIÊNCIA/REMANEJAMENTO,CAPACIDADE,ECQ,COBERTURA,Urgencia
0,604865,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,BAIXA,MEDIA,MUITO ALTA,MUITO ALTA
1,619146,ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,BAIXA,MEDIA,ALTA,MUITO ALTA
2,633406,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MUITO ALTA,MEDIA,ALTA,MUITO ALTA
3,635945,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MEDIA,MEDIA,ALTA,MUITO ALTA
4,635947,MUITO ALTA,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,IRRELEVANTE,ALTA,MEDIA,MEDIA,ALTA,ALTA

In [14]:
df_eng.replace({'IRRELEVANTE': 0,
            'BAIXA': 1,
            'MEDIA': 2,
            'ALTA': 3,
            'MUITO ALTA': 4}, inplace = True)

In [15]:
weights = np.array([0.05,0.1,0.05,0.1,0.1,0.09,0.05,0.1,0.1,0.01,0.25]) # SOMA 1


types = np.array([1,1,1,1,1,1,1,1,1,1,1]) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df_eng.iloc[:,1:]) # tirando a coluna com as OCs  

# Create object of the method
topsis = TOPSIS()        

# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_eng = rrankdata(pref)

for r, p in zip(ranking_eng, pref):
    print(r, p)

4.0 0.5704436444831903
5.0 0.5668364977831606
1.0 0.639262217769408
2.0 0.6060050046529167
6.0 0.5298855171874787
3.0 0.5813237791912365
7.5 0.5079199078714348
10.0 0.4968131740874301
7.5 0.5079199078714348
11.5 0.49056557336791207
9.0 0.5078228008016141
11.5 0.49056557336791207
13.0 0.48177033816390524
14.5 0.41403616132439186
14.5 0.41403616132439186
18.0 0.24191473052136955
18.0 0.24191473052136955
18.0 0.24191473052136955
18.0 0.24191473052136955
18.0 0.24191473052136955

In [16]:
df_eng['Ranking'] = ranking_eng

In [17]:
df_eng.iloc[:,0:]

,ORDEM COMPLEXA,COMERCIAL,CORPORATIVO,DEMANDA SAZONAL,INSTITUCIONAL,OBRIGAÇÃO,ACORDOS,EFICIÊNCIA/REMANEJAMENTO,CAPACIDADE,ECQ,COBERTURA,Urgencia,Ranking
0,604865,4,0,0,0,0,0,0,1,2,4,4,4.0
1,619146,3,0,0,0,0,0,0,1,2,3,4,5.0
2,633406,4,0,0,0,0,0,3,4,2,3,4,1.0
3,635945,4,0,0,0,0,0,3,2,2,3,4,2.0
4,635947,4,0,0,0,0,0,3,2,2,3,3,6.0
5,666351,4,0,0,0,3,0,0,2,2,3,3,3.0
6,668651,3,0,0,0,0,0,0,2,2,3,3,7.5
7,740035,1,0,0,0,0,0,0,2,2,3,3,10.0
8,744766,3,0,0,0,0,0,0,2,2,3,3,7.5
9,692086,1,0,0,0,0,3,0,4,2,2,2,11.5
10,691961,1,0,3,0,0,3,0,4,2,2,2,9.0
11,692533,1,0,0,0,0,3,0,4,2,2,2,11.5
12,693741,1,0,0,0,0,0,0,4,4,2,2,13.0
13,696492,1,0,0,0,0,0,0,4,1,0,2,14.5
14,696493,1,0,0,0,0,0,0,4,1,0,2,14.5
15,696647,1,0,0,0,0,0,0,4,1,0,0,18.0
16,696650,1,0,0,0,0,0,0,4,1,0,0,18.0
17,696795,1,0,0,0,0,0,0,4,1,0,0,18.0
18,696797,1,0,0,0,0,0,0,4,1,0,0,18.0
19,696802,1,0,0,0,0,0,0,4,1,0,0,18.0

df_eng.to_clipboad(index=false)

In [19]:
df_eng.to_clipboard()
#df.to_clipboard()

In [24]:
df_teste = pd.read_excel('resultado_teste.xlsx')

weights = np.array([0.7, 0.3]) # SOMA 1
types = np.array([-1,-1]) # 1 quanto maior melhor. 
                          #-1, quanto menor, menor.
                          
valores = np.array(df_teste.iloc[:,1:]) # tirando a coluna com as OCs  

# Create object of the method
topsis = TOPSIS()        

# Determine preferences and ranking for alternatives
pref = topsis(valores, weights, types)
ranking_test = rrankdata(pref)

for r, p in zip(ranking_test, pref):
    print(r, p)

3.0 0.8402753249246891
5.0 0.7855407713919607
1.0 0.9498035059425289
2.0 0.9254858938225123
6.0 0.717867006392781
4.0 0.8097027461621259
7.0 0.6115497372502194
10.0 0.5114766302273875
8.0 0.5808916472640396
12.0 0.37234145993462886
9.0 0.5370503875906889
11.0 0.4324818284016541
13.0 0.3253537365217025
15.0 0.1990066483992661
14.0 0.21090480953398288
16.0 0.14071137646693568
18.0 0.0404195628649813
20.0 0.0
17.0 0.08798627588206256
19.0 0.02047160878995264

In [21]:
df_teste['ranking'] = ranking_test

In [22]:
df_teste.to_clipboard()